.thumbnail img {
    max-height: 300px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.card-height {
    padding-top: 10px;
    padding-bottom: 10px;
}

.price {
    font-weight: bold;
    font-size: 16px;
}